<p id="notice"><%= notice %></p>

<p>
  <strong>Kdo:</strong>
  <%= @mainroad.Kdo %>
</p>

<p>
  <strong>Kam:</strong>
  <%= @mainroad.Kam %>
</p>

<p>
  <strong>Co:</strong>
  <%= @mainroad.Co %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @mainroad.Cena %>
</p>

<%= link_to 'Edit', edit_mainroad_path(@mainroad) %> |
<%= link_to 'Back', mainroads_path %>
